In [ ]:
import pandas as pd
from os import listdir
from os.path import isfile, join

### Tenemos que volver a leer archivos

In [ ]:
df = pd.read_csv(vuestro_path)
print(df)

In [ ]:
df.head()

#Con df.head nos da siempre las primeras 5 lineas y podemos ver que queda todo mucho mas limpio.

# Que tenemos que hacer con todos los datos que tenemos?

# Queremos juntarlos en un solo csv

# Como podemos juntar todos los archivos csv en uno? Pues ni idea... Peero para esto esta google

In [ ]:
#Codigo obteined en stackoverflow o similar.

In [ ]:
all_months_data = pd.DataFrame() #aqui vamos a guardar nuestro nuevo data frame
for file in files: 
    df = pd.read_csv(r"C:\Users\usuario\Desktop\cursillo\Pandas-Data-Science-Tasks-master\SalesAnalysis\Sales_Data/"+file)
    all_months_data = pd.concat([all_months_data, df])
all_months_data.head()

In [ ]:
all_months_data.to_csv("all_data.csv", index = False)

In [ ]:
all_data = pd.read_csv("all_data.csv")
all_data.head()

# Cual fue el mejor mes en ventas? Y cuando dinero gano la empresa?

# Pero sabemos el dinero que ganaron cada mes

# Claro, pero con lo que tenemos actualmente es complicado estudiar cada mes no?

### explicar como a√±adir una columna

In [ ]:
all_data["Month"] = all_data["Order Date"].str[]
all_data.head()
#Jugar un poco con .str[:] para ver cuales son los numeros adecuados.

# Al leer los archivos los valores numericos que vemos que tipo de valor son? (int, float, bool...?)

In [ ]:

all_data["Month"] = all_data["Month"].astype("int32")

# Que son los NaNs y que hacemos con ellos?

In [ ]:
all_data.head() #Como podemos visualizar mas valores que los 5 de siempre?

# Como podemos ver todos los NaNs que tenemos? Pues volvemos a google

Pista: How to select rows with one or more nulls from a pandas DataFrame without listing columns explicitly?

In [ ]:
#Codigo para visualizar todos los NaN

In [ ]:
#Codigo para eliminar esos NaN

# Ya no tenemos NaNs todo deberia ir bien no?

In [ ]:
all_data["Month"] = all_data["Month"].astype("int32")

# Cual esta siendo nuestro problema ahora? Que son los "Or"?

In [ ]:
temp_df = all_data[all_data["Order Date"].str[0:2] == "Or"]
temp_df.head()

In [ ]:
all_data = all_data[all_data["Order Date"].str[0:2] #Que podemos poner aqui? "Or"]

In [ ]:
all_data["Month"] = all_data["Month"].astype("int32")
all_data.head()

# Ahora podemos volver a la pregunta inicial. O no? Sabemos la cantidad de productos que se ha vendido y el precio de cada uno. Que podemos hacer para facilitar el proceso?

In [ ]:
#### Convertir columnas to the correct type

In [ ]:
all_data["Quantity Ordered"] = pd.to_numeric(all_data["Quantity Ordered"])#Make int
all_data["Price Each"] = pd.to_numeric(all_data["Price Each"])#Make float
all_data.head()

In [ ]:
all_data["Sales"] = #Que ponemos en esta columna? 
all_data.head()

### Podremos responder ahora a la pregunta?

In [ ]:
all_data.groupby("Month").sum()

In [ ]:
#Importamos matplotlib.pyplot as plt
import matplotlib.pyplot as plt

In [ ]:
months = range(1,13)

resulst = all_data.groupby("Month").sum()

plt.bar(months, resulst["Price Each"])

In [ ]:
plt.bar(months, resulst["Sales"])
plt.xticks(months)
plt.ylabel("Sale in USD ($)")
plt.xlabel("Month number")

# Que ciudad tuvo el mayor numero de ventas?

In [ ]:
all_data.head()

###  Explicar el .split

In [ ]:
all_data["City"] = all_data["Purchase Address"].apply(lambda x: x.split(",")[]) #borrar el index y explicar lambda
all_data.head()

In [ ]:
def get_city(address): 
    return address.split(",")[1]

In [ ]:
def get_state(address):
    return algo

In [ ]:
all_data["City"] = all_data["Purchase Address"].apply(lambda x: get_city(x)+ ' ' + (get_state(x)))
all_data.head()

In [ ]:
results = all_data.groupby("City").sum()
results

### Pero para verlo mejor podemos hacer un plot. Podemos reutilizar el plot anterior... Pero tendremos algun problema

In [ ]:
cities = all_data["City"].unique()

plt.bar(cities, results["Sales"])
plt.xticks(cities, rotation = "vertical")
plt.ylabel("Sale in USD ($)")
plt.xlabel("City Name")

# Analizando el grafico podemos ver que algo falla

In [ ]:
for City in all_data["City"]: 
    print(City)

In [ ]:
for City in all_data["City"]: 
    print(City)

In [ ]:
for City in all_data.groupby("City"): 
    print(City)

In [ ]:
cities = [City for City, df in all_data.groupby("City")]

### Volvemos a usar el mismo plot

### Ahora que ya sabemos los meses. A que hora deberiamos poner nuestros anunciar para maximizar la probabilidad de que los clientes compren nuestro producto?

In [ ]:
all_data.head()

### Que hace datetime?

In [ ]:
all_data["Order Date"] = pd.to_datetime(all_data["Order Date"])

In [ ]:
all_data.head()

In [ ]:
all_data["Hour"] = all_data["Order Date"].dt.hour
all_data.head()

In [ ]:
all_data["Minute"] = ....

In [ ]:
xs = [x for x, df in all_data.groupby("X")]

#Antes queriamos ciudades ahora que queremos? 
plt.plot(hours, all_data.groupby(["X"]).count()) #Que esta haciendo el count?